@import url(http://fonts.googleapis.com/css?family=UnifrakturCook:700|UnifrakturMaguntia|Yanone+Kaffeesatz);

* {

	font-family: 'Yanone Kaffeesatz', arial, sans-serif;
	text-align: justify;
}

/*Normal CSS---------*/

body {
	background: linear-gradient(90deg, bisque 42%, burlywood 48%, bisque 53%);
	color: #1a140f;
}

h1, h2, h3 {
	text-align: center;
}

h1:first-of-type::first-letter {
	display: block;
	color: darkgoldenrod;
	font-size: 3em;
	font-family: 'UnifrakturCook', Times, serif;
}

h1 {
	font-family: 'UnifrakturCook', Times, serif;
	font-size: 3.5em;
	margin: 1em 0 .66em .5em;
}

h2 {
	font-family: 'UnifrakturMaguntia', Times, serif;
	font-size: 2em;
}

h3 {
	font-size: 1em;
	margin-bottom: 5em;
	font-style: italic;
}

ul {
	list-style-type: square;
	list-style-position: inside;
}

ul li {
	text-align: left;
	padding-left: 20px;
	font-size: 16px;
}

a {
	text-decoration: none;
}

a:link {
	color: darkred;
}
a:visited {
	color: darkblue;
}

a:hover {
	color: darkgoldenrod;
}

a:active{
	color: darkgoldenrod;
}

b {
	color: darkred;
}


/*Class CSS-------------*/
.header {
	display: block;
	float: left;
	max-width: 40%;
	border: 10px double darkred;
}

.text {
	font-size: 17px;
	display: block;
	float: right;
	max-width: 40%;
	padding-right: 1%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 10%;
}
